// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.bg-brown{
    background-color: #40916c !important;
}

.bg-dark-blue{
    background-color: #003554 !important;
}

.bg-blue-azraq{
    background-color: #0a3d62 !important;
}

.bg-dark-green {
    background-color: #1b4332 !important;
}

.collapse {
    visibility: visible;
}

.table-overflow {
    max-height:400px;
    overflow-y:auto;
}

.navbar-toggler{
    border: none !important;
}
