// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.bg-brown{
    background-color: #3E2723 !important;
}

.bg-pomegranate {
    background-color: #c0392b !important;
}
.bg-flower {
    background-color: #e84118 !important;
}
.bg-harley-orange {
    background-color: #c23616 !important;
}
